[2021-07-05 13:35] rohit-metagauss opened #1 "Refactor Phase 1: Login, Register, Forgot-password and Forms-list."
I'm creating this issue to track GitHub commits.

[2021-07-14 11:57] mJawed commented on #1
14 July 2021

1. Added checkbox CSS
2. Added User Provide Form Permission's Modal

[2021-07-14 12:10] mJawed commented on #1
Added Form Archive's Modal

[2021-07-15 07:08] mJawed commented on #1
15 July 2021

Added Copy any existing form Modal

[2021-07-16 08:14] mJawed commented on #1
16 July 2021

1. Added thank you page
2. sign up success page

[2021-07-21 18:07] rohit-metagauss opened #2 "Refactor Phase 2: Forms builder page | Priority One: Blazeforms FE Revamp"

[2021-07-23 09:46] Bhagyashrimane opened #3 "Able to copy paste the password.[Login-page]"
1.Copy the password from the notepad.
2.Paste that in the password field.

**Expected result**-Password should not be able to copy-paste in the field.
**Actual result**-Able to copy-paste the password.

Check here-https://nimb.ws/itCEKW

[2021-07-23 10:09] Bhagyashrimane opened #4 "Showing error in console when click on Email text .[Login-page]"
Click on the Email text.
Showing error in console.
Check here-https://nimb.ws/DYNwP6

[2021-07-23 11:47] Bhagyashrimane opened #5 "Their is no limit for unsuccessful login attempts.[Login-page]"
1.Enter invalid Email and password combinations.

Expected result-Their should be a limit on the total number of unsuccessful login attempts. So that a user should not be able to try all possible combinations of Email-password.
Actual result-There is a limit on the total number of unsuccessful login attempts. So that a user is able to try all possible combinations of Email-password.

Check here-ht

[2021-07-23 15:31] Bhagyashrimane opened #6 "When click on password hide/show icon then cross mark not coming on that icon.[Login-page]"
1.Login and enter a password.
2.Click on the hide/show icon.

Expected result- When click on password hide/show icon then cross mark should show on icon to show the password.

Actual result-Cross mark not coming on hide/show icon when clicked on the icon to show the password.
Check here-https://nimb.ws/ncUGQA

[2021-07-24 04:01] Bhagyashrimane opened #7 "As soon as the login page opens, by default the cursor should remain on the email textbox.[Login-page]"
1.Open the Login page.

Expected result- When opens the login page cursor by default should remain on the email textbox.

Actual result- When opens the login page cursor not remains on the email textbox

[2021-07-24 05:21] Bhagyashrimane opened #8 "When click on Login button without selecting any field then validation message not showing.[Login-page]"
1.Open the Login page.
2.Click on the login button without a click on the email and password field.

Expected result-When clicked on the login button not selecting any field then validation message with fields will show when both fields empty.
Actual result-When clicked on the login button directly not clicking in any field then validation message with fields not showing when both fields empty.

[2021-07-24 06:27] rohit-metagauss commented on #3
@hunny-metagauss Please check this.

[2021-07-24 06:28] rohit-metagauss commented on #4
@hunny-metagauss Please check this.

[2021-07-24 06:28] rohit-metagauss commented on #4
@hunny-metagauss Please check this.

[2021-07-24 06:31] rohit-metagauss commented on #6
@hunny-metagauss Please check this.

[2021-07-24 06:32] rohit-metagauss commented on #7
@hunny-metagauss Please check this.

[2021-07-24 07:34] Bhagyashrimane commented on #8
Present validation with the login button is fine. Login button highlights when both fields are filled.

[2021-07-24 07:34] #8 closed, assigned to rohit-metagauss

[2021-07-26 06:58] hunny-metagauss commented on #6
We do not have this kind of feature right now.
@Bhagyashrimane - This is the Microsoft Edge browser default feature. Please verify on other browsers as well.

[2021-07-26 15:29] hunny-metagauss commented on #3
fixed

[2021-07-26 15:29] hunny-metagauss commented on #7
fixed

[2021-07-26 15:30] hunny-metagauss commented on #4
fixed

[2021-07-27 09:20] Bhagyashrimane opened #9 "Email text field accepting random string instead of real email.[Sign-up]"
1.Enter any random email in the text field.
example- name@122.165.1.1.aaa
      name..@gmail.com

Expected result-Email text field should accept a valid email id.

Actual result- Accepting any random string of email id.
Check here-https://nimb.ws/KAuhp0

[2021-07-27 09:44] Bhagyashrimane opened #10 "Phone number field accepting any random number.[Sign-up]"
1. Enter any random string in the phone number field.

Expected result- In the Phone number field only accepts valid numbers.

Actual result-Accepting any random string in the phone number field and accepting incomplete phone numbers also.
example- Accepting symbols, alphabets, dada5$7567#7, 428/587/825/368.

Check here-https://nimb.ws/KAuhp0

[2021-07-27 10:31] Bhagyashrimane opened #11 "Password and confirm password comparision validation message not showing properly.[Sign-up]"
1.Enter Aaa111@12 in the password filed and then Enter Aaa111@23 in confirm password filed.
2.Then with confirm password shows validation message as like "Confirm Password is not matched".
3.Change the password entered in the password filed as Aaa111@12 to Aaa111@23.
4.Check the validation message with confirm password field.

Expected result- "Confirm password is not matched" validation message s

[2021-07-27 10:41] Bhagyashrimane opened #12 "Tab key not coming on "I have read and accepted Terms & Conditions" checkbox.[Sign-up]"
1.Tab key is not coming on the "I have read and accepted Terms & Conditions" checkbox.
2.It goes directly on the Terms & Conditions link after the Organization field.

Check here-https://nimb.ws/Z356PM

Note- In the Sign-up page design "I have read and accepted Terms & Conditions" content.
           In Sign-up build "I have read and accepted Terms & Conditions true" content.
           After clic

[2021-07-28 04:08] Bhagyashrimane opened #13 "Submit button not working as exprected.[Forgot-password]"
1.Without entering any email address in the text field able to click on submit button.
2.Submit button showing by default highlighted.
3. After clicking on submit button page redirects to the Login page.
Check here-https://nimb.ws/1LOtgl
4. When clicks on submit button in console showing error.
Check here
![image](https://user-images.githubusercontent.com/77260614/127261742-b921f124-d7c3-41dc-a91a

[2021-07-28 12:24] rohit-metagauss commented on #13
@Bhagyashrimane  This is fixed and deployed. Please test this.

[2021-07-28 12:55] rohit-metagauss commented on #11
@Bhagyashrimane  This is fixed and deployed. Please test this.

[2021-07-28 12:56] rohit-metagauss commented on #9
@Bhagyashrimane  This is fixed and deployed. Please test this.

[2021-07-28 13:38] rohit-metagauss commented on #10
@Bhagyashrimane This is fixed and deployed. Please test this.

[2021-07-28 13:39] rohit-metagauss commented on #3
@Bhagyashrimane This is fixed and deployed. Please test this.

[2021-07-28 13:40] rohit-metagauss commented on #4
@Bhagyashrimane This is fixed and deployed. Please test this.

[2021-07-28 13:40] rohit-metagauss commented on #7
@Bhagyashrimane This is fixed and deployed. Please test this.

[2021-07-29 05:22] Bhagyashrimane opened #14 "Password format should show for users.[Sign-up]"
Password format with password field should show to give an idea to the user what type of format password field accepts.

[2021-07-29 05:25] Bhagyashrimane opened #15 "Validation message or format for phone number field with or without country code.[Sign-up]"
For the phone number field any validation message or format for phone number with or without country code.

[2021-07-29 06:22] Bhagyashrimane opened #16 "User permission pop-up cross close button not working.[Form]"
1.Open Form page.
2.Click on permission.
3.Click on the cross sign to close the popup.

Expected result- When click on the cross sign close button popup should close.

Actual result- When click on the cross sign close button popup does not close.
Check here-https://nimb.ws/lSE97o

[2021-07-29 06:54] rohit-metagauss commented on #14
@Bhagyashrimane This is fixed and deployed. Please test this.

[2021-07-29 06:57] rohit-metagauss commented on #15
@Bhagyashrimane Validations added. Please check.

[2021-07-29 07:00] rohit-metagauss commented on #15
@Bhagyashrimane Can we track country code functionality in separate issue as enhancements ?

[2021-07-29 07:09] rohit-metagauss commented on #2
Functionalities that are covered in this issue.

1. Drag and Drop with Horizontal Sorting.
2. Drag and Drop with Vertical Sorting.
3. Drag and drop for controls like inputs etc.
4. Controls properties like label. size etc.
5. Conditional rendering (Dependent on other inputs).
6. Export view for forms(Separate module).
7. Individual properties for every input.
8. Save form and get form.
9. Data fie

[2021-07-29 07:09] Bhagyashrimane opened #17 "Edit option in user permission pop-up not working as expected.[Form]"
1.Open form.
2.User permission popup.
3.Add the users.
4.Click on edit option one of the users.

Expected result-When click on one of the users edit options then able to edit that user only.

Actual result-When click on the edit option one of the users then all users edit option showing editable.
Check here-https://nimb.ws/asRKqD

[2021-07-29 07:40] Bhagyashrimane opened #18 "In search field, able to search the folders also with forms.[Form]"
Expected result-In search field, forms are able to search only.

Actual result- In the search field, with forms able to search the folders also.
Check here-https://nimb.ws/5RhlAI

[2021-07-29 07:53] Bhagyashrimane opened #19 "When selected the foder from dropdown then form Move popup size changes.[Form]"
1.Click on Move to move the form.
2.Click on the Root folder dropdown from the dropdown.

Expected result- When we click on the arrow of the Root folder to see the sub-folders then the popup window size should be the same.

Actual result- When clicked on the arrow of the Root folder to see the sub-folders then popup window size changes.
Check here-https://nimb.ws/5RhlAI

[2021-07-29 08:05] Bhagyashrimane opened #20 "In Form Move, in search field placeholder as search folder should show.[Form]"
1.Open the form and click on Move.
2.Click on the dropdown and see the search field.

A placeholder will be there to search the folder.
Check here-
![image](https://user-images.githubusercontent.com/77260614/127454450-d93bf342-6b09-4dd6-96b9-8d3450cdfc89.png)

Note-Change the Label of the dropdown.

[2021-07-29 08:20] Bhagyashrimane opened #21 "When move the form to another folder then moved form not showing in selected folder need to refresh the page to see the changes.[Form]"
1.Open the form and select the form to move.
2.Move the form to another folder.

Expected result-When moved any form to another folder then that form movement update automatically.

Actual result- When moved the form to another folder then when refreshing the form page then updates showing and form showing in a changed folder.

Check here-

[2021-07-29 08:23] Bhagyashrimane opened #22 "In delete Popup window the selected form should show in bold or highlighted form.[Form]"
1. Click on the delete to delete the form.

Form name should be in bold or in highlighted format to know that which form deleting.
Check here-
![image](https://user-images.githubusercontent.com/77260614/127457975-ca39dbff-068c-42fc-b731-d7304c530afc.png)

[2021-07-29 08:52] Bhagyashrimane opened #23 "Same user able to select multiple times in user permission.[Form]"
The same user is able to select multiple times from user permission.
Check here-
![image](https://user-images.githubusercontent.com/77260614/127462374-4c83afd8-47c2-4499-9366-c540faa3269c.png)

[2021-07-29 09:02] Bhagyashrimane opened #24 "When deleting the user the form user permissions then not deleted properly.[Form]"
1.Delete the user from the form user permission popup.

Expected result-When delete one user from the user permission popup then all data should delete related to that user.

Actual result- When deleted the user from the user permission popup then checkboxes related to that user showing on-page.
Check here-https://nimb.ws/5RhlAI

[2021-07-29 16:26] Bhagyashrimane commented on #4
Verified.

[2021-07-29 16:26] #4 closed, assigned to Bhagyashrimane, rohit-metagauss

[2021-07-29 16:27] Bhagyashrimane commented on #7
Verified.

[2021-07-29 16:27] #7 closed, assigned to Bhagyashrimane, rohit-metagauss

[2021-07-29 16:29] Bhagyashrimane commented on #9
Verified.

[2021-07-29 16:29] #9 closed, assigned to rohit-metagauss

[2021-07-29 16:34] Bhagyashrimane commented on #14
Verified.

[2021-07-29 16:34] #14 closed, assigned to rohit-metagauss

[2021-07-29 16:41] Bhagyashrimane commented on #13
Verified.

[2021-07-29 16:41] #13 closed, assigned to rohit-metagauss

[2021-07-30 06:24] rohit-metagauss commented on #6
@Bhagyashrimane This is fixed and deployed. Please check this.

[2021-07-30 06:26] rohit-metagauss commented on #24
@hunny-metagauss Please check this.

[2021-07-30 06:27] rohit-metagauss commented on #17
@hunny-metagauss Please check this.

[2021-07-30 06:34] Bhagyashrimane commented on #3
@hunny-metagauss Able to copy paste the password from password field to notepad.

[2021-07-30 06:37] Bhagyashrimane commented on #10
Verified.

[2021-07-30 06:37] #10 closed, assigned to Bhagyashrimane, charan-singh05, rohit-metagauss

[2021-07-30 07:14] Bhagyashrimane opened #25 "Enter key not working as expected with forgot-password and Sign-up page."
1.Fill in all data on the Sign-up page.
2.Press Enter Key.

Expected result- After Filling all data on the sign-up page and press Enter Key the form should be able to submit.

Actual result-After filling the data on sign-up page then after pressing Enter key not able to submit the form.

[2021-07-30 07:14] rohit-metagauss commented on #21
@Bhagyashrimane This is fixed and deployed. Please check this.

[2021-07-30 07:15] rohit-metagauss commented on #16
@Bhagyashrimane This is fixed and deployed. Please check this.

[2021-07-30 07:20] Bhagyashrimane commented on #6
With Microsoft Edge Cross mark showing when hide/show password.

[2021-07-30 07:20] #6 closed, assigned to Bhagyashrimane, rohit-metagauss

[2021-07-30 07:23] Bhagyashrimane commented on #11
Verified.

[2021-07-30 07:23] #11 closed, assigned to Bhagyashrimane, charan-singh05, rohit-metagauss

[2021-07-30 07:47] Bhagyashrimane commented on #25
@hunny-metagauss For Forgot password page please fix Enter key related issue.

[2021-07-30 11:53] Bhagyashrimane commented on #21
Verified.

[2021-07-30 11:53] #21 closed, assigned to Bhagyashrimane, rohit-metagauss

[2021-07-30 11:54] Bhagyashrimane commented on #16
Verified.

[2021-07-30 11:54] #16 closed, assigned to Bhagyashrimane, rohit-metagauss

[2021-08-02 12:12] Bhagyashrimane opened #26 "In delete pop-up, deleting organization name showing with extra Single quote (').[Workspace]"
1.Click on the delete option of organization.
2.Check the popup window.

Actual result- In the delete popup window, showing deleting organization name with Single quote (').

Check here-
![image](https://user-images.githubusercontent.com/77260614/127859987-c05f06ef-1c2b-434b-9d2e-46195ac2673d.png)

[2021-08-03 08:50] #26 closed, assigned to hunny-metagauss

[2021-08-04 05:30] Bhagyashrimane opened #27 "Scroller option we can give for showing the list of Organization on Work-Spaces Page.[Work-spaces]"
1.Scroller option we can give for showing the list of Organization on Work-Spaces Page.
2.Now the list is looking like this-
Check hre-https://nimb.ws/BbNIEr

[2021-08-04 06:48] Bhagyashrimane opened #28 "On delete popup window, cross (X) sign to close popup showing square box on that sign.[Work-spaces]"
1.Login on the workspaces page.
2.Click on the delete option.
3. See the cross sign(X) to close the popup on the delete popup window.

Actual result- Showing square box on a cross (X) sign to close the delete popup window.
Check here-
https://nimb.ws/Tf9FYr

[2021-08-04 07:04] Bhagyashrimane opened #29 "Close link and Close button (X) not working.[Work-spaces]"
1.Click on delete the organization.
2.Pop-up opens.
3.Click on close buttons.

Actual result- Not able to close the popup when clicked on the close buttons.
Check here-https://nimb.ws/rElA5T

[2021-08-04 07:22] Bhagyashrimane opened #30 "When organization deleted from list then organization not deleted properly.[Work-spaces]"
1.Click on delete.
2.Still the Organization was deleted showing in the list.
3.Refresh the page then the organization is deleted.

Expected result- When deleted any organization then it disappears from the list immediately.
Actual result- When deleted the selected organization from the list then not deleted directly still shows in the list. After refreshing the page the deleted organization disapp

[2021-08-04 08:16] Bhagyashrimane opened #31 "Content font size changes on delete popup window.[Work-spaces]"
1.Login and click on the delete option and see the content on the delete popup.
Check here-
![image](https://user-images.githubusercontent.com/77260614/128144669-594ade2f-bc42-4771-8db0-ce780f5ec6b2.png)

2.After some time looks like the font size of the content chnaged like after refreshing the page.
Check here-
![image](https://user-images.githubusercontent.com/77260614/128144808-9e806389-d240-4

[2021-08-04 08:27] Bhagyashrimane opened #32 "Content showing on delete popup ? mark is missing.[Work-spaces]"
Content on delete popup **"?"** mark is missing.
Check here-
![image](https://user-images.githubusercontent.com/77260614/128148523-4f464011-eeb4-4968-862f-a854db7d5194.png)

**Note**- A deleted organization name can be shown in highlighted or bold format.

[2021-08-04 10:28] Bhagyashrimane opened #33 "For search box, when enter Space button once then also showing search results.[Work-spaces]"
1.Press space one time only in the search box.
2.Observe the list.

Expected result- Not able to show any results of a search when pressing the space key.

Actual result- When press the Space key once then showing some lists results.
Check here-https://nimb.ws/VkBb3L

[2021-08-04 14:46] Bhagyashrimane opened #34 "Taking too much time to load the oraganization list page.[Work-spaces]"
Loading the list of organizations taking a little bit more time. Not working as expected.
That's why the list of organizations not showing properly.

[2021-08-05 08:51] Bhagyashrimane opened #35 "When click on General showing error in console.[Manage-work-spaces]"
1.Manage work spaces page.
2. Click on General.
 Actual result- Showing error in console when clicking on General.

Check here-
![image](https://user-images.githubusercontent.com/77260614/128321584-782fbd44-0879-4d88-967e-247f149efdde.png)

[2021-08-06 11:41] Bhagyashrimane opened #36 "Password and confirm password comparision validation message not showing properly.[Manage-work-spaces]"
1.Enter Aaa111@12 in the password filed and then Enter Aaa111@23 in confirm password filed.
2.Then with confirm password shows validation message as like "Confirm Password is not matched".
3.Change the password entered in the password filed as Aaa111@12 to Aaa111@23.
4.Check the validation message with confirm password field.

Expected result- "Confirm password is not matched" validation message s

[2021-08-07 06:19] Bhagyashrimane opened #37 "When loads the page control automatic comes on First name field.[Manage_work_spaces]"
Expected result-When loads the page control automatic comes on First name field.

Actual result-When loads the page control not coming automatically on the First name field.

[2021-08-08 13:47] Bhagyashrimane opened #38 "Any Random string accepting in the email field.[Manage-work-spaces]"
When new creating organization,
Expected result- Any random string not able to accept in the email id field.

Actual result-Accepting any random string in the email field.

[2021-08-12 08:02] Bhagyashrimane opened #39 "Random string accepting in Stripe fileds there should be validation for stripe fields."
1.Login
2.Oranagization and click on Account settings.
2.Add stripe account

Actual result-There should be proper validation for stripe fields accepting any random strings.
Check here-https://nimb.ws/Waw25C

[2021-08-12 08:09] Bhagyashrimane opened #40 "Notification pop-ups should show for all success and Errors."
Expected result-Notification pop-ups should show for all success and errors.

Actual result- Notification Pop-ups not showing for success and errors.

[2021-08-12 08:25] Bhagyashrimane opened #41 "When User given a role and not having permission for edit or etc. then show some validation message on page now showing blank page after login."
Expected result- result-When User given a role and not having permission for edit or etc. then should show some validation message on page.

 Actual result-When User given a role and not having permission for edit or etc. now showing blank page after login.

[2021-08-23 03:50] Bhagyashrimane opened #42 "When refresh the page of manage workspace then control comes on workspaces page (Organization list).[Manage-workspaces]"
1.Login and click on any one organization.
2.come on any page like Account settings.
3.e.g. Add one Stripe account and and refresh the page.

Expected result- when refresh the page control holds on the same page which is using.

Actual result-When refresh the page control goes on workspace page-

Check here-https://nimb.ws/36gBqM

[2021-08-23 04:00] Bhagyashrimane opened #43 "Organizations not showing clickable in organization list.[Work-spaces]"
On the work-spaces page organizations not showing clickable.

[2021-08-23 05:59] Bhagyashrimane opened #44 "Need to update the Logo API."
Need to Update the Logo API.

[2021-08-23 08:51] Bhagyashrimane opened #45 "When selected the country then automatically not selecting the currency in the currency fields.[Manage-work-spaces]"
1.Staging site- When we select the the country in the field then currency automatically integrate.
Check here-https://nimb.ws/lg19ew
2.On Revamp - When selected the country in the country field currency not integrates automatically.
Check here-https://nimb.ws/6Yb5Be

[2021-08-24 05:03] Bhagyashrimane opened #46 "General page, Organization field not showing placeholder.[Manage-work-spaces]"
1.Login and click on the organization.
2.Control comes on the General page.

Actual result- Not showing the placeholder in the Organization field.
Check here-
![image](https://user-images.githubusercontent.com/77260614/130558667-6347770e-5487-4f63-a36b-3001bdc99577.png)

[2021-08-24 10:29] Bhagyashrimane opened #47 "Account settings- placeholder in search field not proper and label of add button also.[Manage-work-space]"
Placeholder in search field not looking proper and add button label also not proper.
Check here-
![image](https://user-images.githubusercontent.com/77260614/130601443-08db0b1e-339f-4f05-8b57-a062c439e1ac.png)

[2021-08-24 11:26] Bhagyashrimane opened #48 "When edit stripe account button label is not proper and buttons not showing clickable.[Manage-work-space]"
1.When edit stripe account showing update button on staging site.
2.But on Revamp site showing Save button.
3.Edit and delete buttons not showing clickable.
Check here-
Staging site
![image](https://user-images.githubusercontent.com/77260614/130608328-51c3bc80-a217-4e56-9b0c-5b9e3c2ccd4c.png)

Revamp site-
![image](https://user-images.githubusercontent.com/77260614/130608412-0a08553b-c40b-43ef-bc8

[2021-08-24 11:37] hunny-metagauss commented on #47
done

[2021-08-24 11:43] hunny-metagauss commented on #46
done

[2021-08-24 11:47] hunny-metagauss commented on #43
@mJawed  Need cursor pointer on the organization name

[2021-08-24 11:55] Bhagyashrimane opened #49 "Search field not working properly when given space only.[Manage-work-space]"
1. Click on search filed.
2.Click on the space button.
3.Now Click anywhere on the page.

Expected result - When clicking on anywhere on the page then the list should show.

Actual result- When clicking on the page then the list not showing.
Check here-https://nimb.ws/uAb4Iv

Note-Check all the search fields.

[2021-08-24 12:15] hunny-metagauss commented on #38
fixed

[2021-08-24 12:20] Bhagyashrimane opened #50 "Branding page-selected file not showing in the field and options not working as expected.[Manage-work-space]"
1.Select a file to upload.
2. File uploads immediately.
3.When selecting any file to upload selected file not showing in the field and without clicking on upload file uploads.
4.There is no activity for the upload button.
5.When clicking anywhere on the field then able to select the file Window opens but when clicking on the browser button then only able to select the file window should open.

[2021-08-24 12:24] hunny-metagauss commented on #48
@mJawed  Cursor pointer on edit and delete button

[2021-08-24 12:27] Bhagyashrimane opened #51 "Users inviting then any random string accepting in email field.[Manage-work-space]"
When inviting any user then accepting any random string in the Email field.

[2021-08-24 12:34] Bhagyashrimane opened #52 "On header of anywhere on page should show plan details bar."
After login when the user redirects to the form page or any page then the plan details bar should show.

Check here-
![image](https://user-images.githubusercontent.com/77260614/130617033-e3d037a2-35c7-4d68-b5d3-b33f59306c4a.png)

[2021-08-25 07:38] Bhagyashrimane opened #53 "When click on the edit button then button label is showing save instead of Update.[Manage-work-space]"
1.User page and click on the edit button.
2.Check the button label of the Edit popup.

Actual result- When Edit popup window then button label showing save instead update.
Check here-
![image](https://user-images.githubusercontent.com/77260614/130747486-4ad23e1f-c168-46e7-958e-097a29d4ae66.png)

[2021-08-25 08:48] Bhagyashrimane opened #54 "When click on the organization then taking time to open the manage-work-space page.[Manage-work-space]"
1.Click on the one of the organization
2.Observe the page loading time.

Actual result- When click on the organization than taking time to load the page that's why a user's details filled in the field not showing immediately looking like nothing filled.

[2021-08-25 09:16] Bhagyashrimane opened #55 "The content provided in delete popup not looking proper.[Manage-work-space]"
All delete pop-ups on the Manage-work-space page delete content not looking proper.
There should be "?" after the sentence is completed.
![image](https://user-images.githubusercontent.com/77260614/130761970-665b7741-8449-4454-9761-89bf9aec3fba.png)

[2021-08-25 12:08] Bhagyashrimane opened #56 "All icons not showing clickable.[Manage-work-space]"
Delete, Edit, Resend, icons not showing clickable on the User page.

[2021-08-25 12:09] Bhagyashrimane opened #57 "User Page- Delete cross button not working.[Manage-work-space]"
1.Click on the User page.
2.Click on the delete option to delete the user.

Actual result-When click on the Cross button to close the popup not working.

[2021-08-25 12:23] Bhagyashrimane opened #58 "On Roles page, Standard and Administrator information not showing and permissions module also not showing.[Manage-work-spaces]"
1.Click on the Role page.
2.Check Standard and Administrator role.

Actual result-Not showing any info and permission checkboxes of the module of std and admin role.

Expected result-Standard and Administrator roles need to by default is given permissions and info.
Check here-
![image](https://user-images.githubusercontent.com/77260614/130789707-39c83ed3-c6d5-4ae2-9be9-71eab382b179.png)

Note-Not

[2021-08-25 12:29] Bhagyashrimane opened #59 "On Subscription page- consumed storage showing long decimal number.[Manage-work-space]"
Actual result-On the subscription page, the consumed storage data showing in long decimal.

Expected result-It should show in Approximate value so it will be more understandable.

Check here-
![image](https://user-images.githubusercontent.com/77260614/130790518-d0f3786d-01b1-4a7e-bcc9-89ef29f1d4f6.png)

[2021-08-25 16:36] Bhagyashrimane opened #60 "When click on to change the plan then slider of plans opens but they not working properly.[Manage-work-space]"
1.Click on the subscription page.
2.Click on change plan

Expected result- When click on the change plan then sliders should show and after choosing the plan billing page should open.

Actual result - when clicking on the change plan the slider of plans opens but does not work properly and the billing page also not open when choosing a plan.

[2021-08-25 16:46] Bhagyashrimane opened #61 "Referal program page- Refer a friend window not showing the mandatory fields mark and button labels also different.[Manage-work-space]"
Referral programs Page-
1.Click on message - Refer a friend window- All fields showing the mandatory mark in staging but on revamp not showing the mandatory marks with fields.
2.Button labels are also different.
Staging site-
![image](https://user-images.githubusercontent.com/77260614/130831147-391632ae-0f5f-442a-8a18-5530b9c7ea0d.png)

Revamp site-
![image](https://user-images.githubusercontent.c

[2021-08-25 16:50] Bhagyashrimane opened #62 "On Referral program page- for twitter showing the facebook logo.[Magae-work-space]"
1.On referral program page- for twitter showing the Facebook logo.

[2021-08-25 16:53] Bhagyashrimane opened #63 "For uploading the image taking too much time to upload.[My-profile]"
1.Login and click on My accounts
For uploading the image taking too much and continue to showing loading circle.

[2021-08-25 16:56] Bhagyashrimane opened #64 "When created new account then not showing the Avtar on profile like by default human image.[My-profile]"
1. Create a new user and log in.
2. Check the My account and profile image.

Actual result-When created a new account and profile image not showing like Avatar.

[2021-08-25 17:00] Bhagyashrimane opened #65 "UploadProfileImage API showing status 404 error.[My-profile]"
In console showing an error when click on uploading the image
check here-
![image](https://user-images.githubusercontent.com/77260614/130833541-37485658-af1c-4eb3-84ad-8b91b057109c.png)

Network-
![image](https://user-images.githubusercontent.com/77260614/130833595-46f99068-9050-46ed-aa13-8e4f2dc13c60.png)

[2021-08-25 17:10] Bhagyashrimane opened #66 "Spelling mistake in confirm password and button lable color not looking proper.[My-profile]"
Confirm password label and placeholders spelling not correct and Button label also not in the proper color.
Check here-
![image](https://user-images.githubusercontent.com/77260614/130834812-f18acd01-be8a-4425-a811-f37fbd61a430.png)

[2021-08-25 17:15] Bhagyashrimane opened #67 "When click on the image on left side of the page then showing dropdown to open My account and Logout.[My-profile]"
Staging site- When the cursor comes on the image on the left side of the page then my account and logout option shows like hover.

Revamp site- Image on the left side of the page showing dropdown to opens the options like My account and Logout and showing dropdown arrow also.
Check here-
![image](https://user-images.githubusercontent.com/77260614/130835687-da18c1aa-67ee-489e-82f9-7df3d13d62d2.png)

[2021-08-27 09:48] hunny-metagauss commented on #66
fixed. Initially, the button will be disabled, that's why.

[2021-08-27 10:04] hunny-metagauss commented on #63
there is 404 error in API. That's why

[2021-08-27 10:10] hunny-metagauss commented on #61
fixed

[2021-08-27 11:13] Bhagyashrimane opened #68 "Bulk Delete , Archive an Move options on forms page showing with filters not working.[Form-page-view]"
Bulk delete, Archive, Move options not working and showing always highlighted without selecting forms.
Check here-
![image](https://user-images.githubusercontent.com/77260614/131119223-ac0f3b26-3272-42b5-8c78-06dd29432fa8.png)

[2021-08-27 11:22] Bhagyashrimane opened #69 "When Star icon infront of the form not working proper and star ison & checkbox with each other not working proper.[Form-page-view]"
1.Click on the star in front of the form.
2. Then to deselect the star icon in front of the form.
3. select the checkbox in front of the form and then select the star icon.

Actual result- Not able to deselect the star icon in front of the form and when checkbox selected of the form then selects the Star icon then checkbox automatically shows unchecked.

Note- That's why not able to check the bulk

[2021-08-27 11:35] Bhagyashrimane opened #70 "Options in front of the form name like build , publish. Entried, URL not working.[Form-page-view]"
Options in front of the forms like Build, publish Entries, URL not working.
Check here-
![image](https://user-images.githubusercontent.com/77260614/131121270-f0a6be72-e5b5-4ac1-8b8b-825f5979807a.png)

[2021-08-27 14:37] rohit-metagauss commented on #70
@Bhagyashrimane This issue is fixed and Please test this.

[2021-08-27 14:38] rohit-metagauss commented on #69
@Bhagyashrimane This issue is fixed and Please test this.

[2021-08-27 14:38] rohit-metagauss commented on #68
@Bhagyashrimane This issue is fixed and Please test this.

[2021-08-27 14:39] rohit-metagauss commented on #18
@Bhagyashrimane This issue is fixed and Please test this.

[2021-08-27 14:39] rohit-metagauss commented on #2
This task is completed.

[2021-08-27 14:39] #2 closed, assigned to rohit-metagauss

[2021-08-27 17:12] hunny-metagauss commented on #57
fixed

[2021-08-27 17:14] hunny-metagauss commented on #55
fixed

[2021-08-27 17:18] hunny-metagauss commented on #54
It depends on the server response time. When we add page loader this delay will not looking odd.

@mJawed  Please provide page loader.

[2021-08-27 17:32] hunny-metagauss commented on #53
This is same as the staging panel. Please verify.

[2021-08-27 17:33] hunny-metagauss commented on #52
Done from my end. Design pending.

[2021-08-27 17:49] hunny-metagauss commented on #51
fixed

[2021-08-27 18:14] hunny-metagauss commented on #35
fixed

[2021-08-27 18:15] hunny-metagauss commented on #34
It depends on the server response time

[2021-08-27 18:17] hunny-metagauss commented on #32
fixed

[2021-08-27 18:21] hunny-metagauss commented on #29
fixed

[2021-08-28 12:18] Bhagyashrimane opened #71 "Logout button is not working on Form page.[Form-page-view]"
Logout button not working on Form page.

[2021-08-30 04:00] Bhagyashrimane commented on #69
Still, the star features not working properly.
1. When clicking on the star in front of the form and deselect it not showing immediately. When refreshing the page the star shows deselected.
2. When deselecting the Star then Checkbox also in front of the form also get unchecked.

[2021-08-30 04:45] hunny-metagauss commented on #63
fixed

[2021-08-30 06:07] hunny-metagauss commented on #59
fixed

[2021-08-30 07:45] Bhagyashrimane opened #72 "Sub-folders able to add more than 5. Limit for sub-folders not working properly.[Form-page-view]"
1. Able to add the sub-folders more than 5 in the Root.

[2021-08-30 08:12] Bhagyashrimane commented on #72
Limit for folders functionality Working fine.

[2021-08-30 08:12] #72 closed, assigned to rohit-metagauss

[2021-08-30 08:37] hunny-metagauss commented on #50
@mJawed  Please check point no. 3

[2021-08-30 09:40] Bhagyashrimane opened #73 "Options in filter and on form page view not showing clickable.[Refined-filter-dropdown & Form-page-view]"
Options in the refined filter not showing clickable.
e.g. Folders, All forms. Starred, Archived, Build, Publish, Entries, URL, Permission, Delete, Move, Archive, Form Name, Edit, Filter.
Check here-
![image](https://user-images.githubusercontent.com/77260614/131319269-3baf5f6c-9f52-404d-ab22-1337b35daaab.png)

![image](https://user-images.githubusercontent.com/77260614/131320165-7c775671-86ec-4fa2

[2021-08-30 10:22] Bhagyashrimane opened #74 "Starred feature in filter not working proper.[Refined-filter]"
When clicking on starred in the filter then not showing the all-starred form.

[2021-08-30 11:33] Bhagyashrimane opened #75 "Publish, Entries when click on them redirection not as expected.[Form-page-view]"
1. When clicking on Publish page then redirect to on publish a page of the form.
Actual result- When click on the Publish link then control redirect to the build page.

2. When clicking on the Entries page then redirect to on Entries page of the forms.
Actual result- When clicking on the Entries page then the page not redirecting to the Entries page.

3. When clicking on the URL new tab, not openi

[2021-08-30 14:02] hunny-metagauss commented on #36
fixed

[2021-08-30 14:04] hunny-metagauss commented on #58
fixed

[2021-08-30 14:05] hunny-metagauss commented on #30
fixed

[2021-08-30 16:09] hunny-metagauss commented on #25
fixed

[2021-08-30 17:03] hunny-metagauss commented on #24
fixed

[2021-08-30 17:20] hunny-metagauss commented on #17
fixed

[2021-08-30 17:23] mJawed commented on #12
Fixed

[2021-08-30 17:42] hunny-metagauss commented on #3
fixed

[2021-08-30 20:47] hunny-metagauss commented on #49
fixed

[2021-08-30 20:48] hunny-metagauss commented on #33
fixed

[2021-08-31 05:20] mJawed commented on #19
@hunny-metagauss Need to delete full row instead of User.

[2021-08-31 06:03] Bhagyashrimane opened #76 "When added the new organization then not immeadiately showing in the dropdown list of the organization.[Organization-workflow]"
1. Login and add a new organization
2. Then check the organization list.
3. Now check the organization workflow list dropdown on the header.

Expected result-when a new organization is added then it will show in the dropdown list of the organization immediately.

Actual result-When added a new organization then that organization was not added to the list immediately. When the user logout and again

[2021-08-31 06:13] mJawed commented on #20
Fixed.

[2021-08-31 06:16] mJawed commented on #22
Fixed.

[2021-08-31 06:26] mJawed commented on #28
Fixed.

[2021-08-31 06:27] mJawed commented on #31
Fixed.

[2021-08-31 06:31] Bhagyashrimane opened #77 "Timezone and Currency fields not working as expected.[Manage-work-space]"
1. Add new organization and fill all the fields of the form as like timezone and Currency.
2. then save the organization.
3. Check the organization list organization added to the list.
4. then click on that added organization and check the timezone and currency fields.

Expected result- When click on the organization's newly added timezone and currency fields should show filled.

Actual result-Whe

[2021-08-31 06:56] mJawed commented on #43
Fixed.

[2021-08-31 06:59] #22 closed, assigned to mJawed

[2021-08-31 06:59] #43 closed, assigned to mJawed

[2021-08-31 07:12] mJawed commented on #48
Added

[2021-08-31 07:18] mJawed commented on #52
Fixed.

[2021-08-31 07:50] mJawed commented on #56
Fixed.

[2021-08-31 07:51] mJawed commented on #67
Fixed.

[2021-08-31 08:34] mJawed commented on #73
Fixed.

[2021-08-31 11:48] Bhagyashrimane opened #78 "Without enetring any data when adding the form then also able to save the form.[Form-page]"
1. Login and click on Add form.
2. Add form popup shows.
3. fields are empty and click on the Save button.

Expected result- without filling in any data should not be able to save the form and redirect on the build page.

Actual result- Without filling in any data when adding the form on the popup of Add form able to save the form and redirecting on the build page.

Check here-https://nimb.ws/uc0a

[2021-08-31 13:13] mJawed commented on #62
Fixed.

[2021-08-31 13:15] mJawed commented on #64
@hunny-metagauss Please add a profile pic functionally on the header.

[2021-08-31 13:23] mJawed commented on #54
@hunny-metagauss Add inline loader for now, we update it once Vikram sir provided.

[2021-08-31 13:26] mJawed commented on #50
Regarding point 3: loader added on button

[2021-08-31 13:28] mJawed commented on #1
This is not an issue we just opened it for tracking commits.

[2021-08-31 18:40] hunny-metagauss commented on #45
fixed

[2021-09-01 05:31] hunny-metagauss commented on #77
fixed

[2021-09-01 05:47] hunny-metagauss commented on #64
fixed

[2021-09-01 05:51] Bhagyashrimane opened #79 "New form popup- Copy Existing form and Copy Existing workflow links not working.[Form-page]"
1. Login and click on Add form.
2. New form popup opens.
3. Observe the links Copy Existing form and Copy Existing workflow.

Actual result- Copy Existing form and Copy Existing Workflow links available below the Add Form and Add Workflow buttons not working.
Check here-
![image](https://user-images.githubusercontent.com/77260614/131618941-7e6032dd-8859-4eb9-8db2-fdb11446330d.png)

[2021-09-01 06:20] Bhagyashrimane opened #80 "Fields popover body- Delete, Duplicate , Make small ,Make Large fetaures not working properly.[Form-build]"
1. Add form and come on the build page.
2. Drag and drop one field on the page.
3. Popover body appears.

Actual results-
1. For Delete and duplicate options need to click many times on them to work properly. It is not having smooth working.
2. Make small and make bigger- when clicking on them fields are deleting.

[2021-09-01 06:57] hunny-metagauss commented on #76
fixed

[2021-09-01 08:34] Bhagyashrimane opened #81 "change plan slider not lookig proper.[Manage-work-space]"
1. Click on organization and click on Subscription
2. Click on the change plan and observe the slider.

Actual result- When clicked on change plan then showing the plans available slider but slider not looking proper.

[2021-09-01 08:41] Bhagyashrimane opened #82 "For superadmin, new organization add form fields move when showing the validation messsage with that when not filled the content.[Manage-work-space]"
1. Login with superadmin
2. Click on add organization.
3. Observe the Form.

Actual result-When not filled the data in the fields and when shows the validation message with fields then below fields position changes.

Check here-https://nimb.ws/tvqelk

[2021-09-01 10:03] Bhagyashrimane opened #83 "Payment field making conflict with other fields and control & properties also.[Form-build]"
1. Login and add form.
2. Add other fields and Payment fields.
3. Check the behavior of the options.

Actual Scenario happening with payment field-
1. Add fields like First name, Last name with fields showing popover body like delete, duplicate, etc.
Control also moves automatically on properties.
2. Now add the payment field and now check the behavior of the controls and properties feature with c

[2021-09-01 10:45] Bhagyashrimane opened #84 "Phone number and Number both fields functionality is same.[Form-build]"
1. select the number and Phone number fields and observe the functionality of both fields.

Actual result- number and Phone number both the fields working as a number field and showing the increase and decrease arrows in the field.

[2021-09-01 12:07] Bhagyashrimane opened #85 "After Publishing the form URL of the form not working.[Form-publish]"
1. Form publish and check the URL on another page.

Actual result- After Publish the Form URL not working. Not showing form when using the URL.

[2021-09-02 03:28] hunny-metagauss commented on #23
fixed

[2021-09-02 03:52] Bhagyashrimane opened #86 "When trying to go from build page to publish page showing error in console.[Form-build]"
1. When redirecting from Form builder page to publish page in console showing the error
Check here-
![image](https://user-images.githubusercontent.com/77260614/131778754-8c882897-ef18-4a85-928f-dc8e361c7865.png)

[2021-09-02 06:18] Bhagyashrimane opened #87 "Form name dropdown on form build page selected form not showing in the dropdown.[Form-build]"
1. Select one form and go on the build page.
2. Check the left side dropdown of the form.
3. Select another form from the dropdown.

Actual result-When form selected from form listing that is not showing in the dropdown on build page and also when selected
from the dropdown also not showing the selected form in the dropdown.

Note-underlined with black line.
Check here-
![image](https://user-image

[2021-09-02 06:50] Bhagyashrimane opened #88 "Form name dropdown arrow on form build page not showing properly.[Form-build]"
1. Form builder page
2. form name dropdown click on the arrow.

Actual result-
1. When clicking on the form name dropdown then expands arrows movement not changes link upside or downside. It is showing in one upside only.
2. Arrow and content alignment are also not proper.

Check here-
![image](https://user-images.githubusercontent.com/77260614/131796188-2572ff97-aa4c-4fb4-8a16-6494612fef51.png)

[2021-09-02 08:06] Bhagyashrimane opened #89 "Fields and Popover of that fields overlapping not looking porper.[Form-build]"
1. Form builder page.
2. drag and drop one field and observe the field popover

Actual result-Fields and fields popover overlapping. Also hiding the content of the fields.
When opens the when condition window also the field popover overlaps on that.
Check here-
![image](https://user-images.githubusercontent.com/77260614/131806559-c473a400-b407-4249-a1f2-2de0fd917ae7.png)

[2021-09-02 08:40] rohit-metagauss commented on #86
@Bhagyashrimane This issue is fixed.

[2021-09-02 08:40] rohit-metagauss commented on #85
@Bhagyashrimane This issue is fixed.

[2021-09-02 08:41] rohit-metagauss commented on #84
@Bhagyashrimane This issue is fixed.

[2021-09-02 08:41] rohit-metagauss commented on #83
@Bhagyashrimane This issue is fixed.

[2021-09-02 08:41] rohit-metagauss commented on #80
@Bhagyashrimane This issue is fixed.

[2021-09-02 08:42] rohit-metagauss commented on #78
@Bhagyashrimane This issue is fixed.

[2021-09-02 09:18] mJawed commented on #27
@hunny-metagauss, As discussed with charan Sir on call, Please add Pagination.

[2021-09-02 10:12] mJawed commented on #89
Added ellipses for it

[2021-09-02 11:22] Bhagyashrimane opened #90 "Cancel button on When condition popup not working.[Form-build]"
1. Go on the Form builder page.
2. drag and drop the field.
3. click on the When condition.
4. Then the popup opens.

Actual result-When condition Popup cancel button not working.

Check here-
![image](https://user-images.githubusercontent.com/77260614/131835218-4c694bbb-6aca-4900-ac61-8738a22dec00.png)

[2021-09-02 11:56] mJawed commented on #88
Fixed.

[2021-09-02 12:04] mJawed commented on #90
Fixed.

[2021-09-02 14:46] Bhagyashrimane opened #91 "All Notification popup-color combination not showing attractive."
Notification popups like after updating or successful saving color of the popups not showing proper.
e.g.
![image](https://user-images.githubusercontent.com/77260614/131865172-da1502a8-571a-4952-aa2d-dd9d9bac1712.png)

[2021-09-02 16:21] Bhagyashrimane opened #92 "In Fields some options not having and some extra options not able to add.[Form-build]"
1. Radio field- extra options added but name not updated immediately. It updates when clicking on somewhere on-page.
2. Rating field-Not able to add extra options, options alignment not proper, Rating options in properties like agree/disagree working same, All size options not available.
3. Address and Table field not available in the list of fields. On staging these options available.

[2021-09-02 16:40] Bhagyashrimane opened #93 "Header on Login page not looking proper.[Login-page]"
Scenario-
1. log in to the site.
2. without using that for some time like session timeout.
3. After some time user log out and then observe the login page.

Actual result- Header page after logout showing options like forms, organization, organization dropdown, profile image.

Check here-
![image](https://user-images.githubusercontent.com/77260614/131883373-fd205229-eb43-49c4-9bd7-3dcc381eee1d.png

[2021-09-02 17:00] Bhagyashrimane opened #94 "Add form popup-description field validation message not showing properly.[Form-view]"
1. Click on Add form.
2. Description validation message not showing properly.

Check here-
![image](https://user-images.githubusercontent.com/77260614/131886135-67a7c799-b002-4bb7-92f1-36995e4690a1.png)

[2021-09-02 17:03] Bhagyashrimane opened #95 "View details related to plan bar color not looking proper like looking dark red.[Form-view]"
The color of the bar not looking proper and the cross sign also not working. Not able to close the bar
Check here-
![image](https://user-images.githubusercontent.com/77260614/131886574-8a4cc91f-1428-4630-8e0d-db58879b3c02.png)

[2021-09-02 17:04] Bhagyashrimane opened #96 "Dropdown arrow not showing on filter option.[Form-view]"
check here-
![image](https://user-images.githubusercontent.com/77260614/131886776-9071f701-7945-44d5-afe2-7a18df072107.png)

[2021-09-02 17:24] mJawed commented on #81
Fixed

[2021-09-02 17:24] mJawed commented on #91
Fixed

[2021-09-03 03:08] Bhagyashrimane commented on #78
Issue still appearing.

[2021-09-03 04:02] hunny-metagauss commented on #27
Added pagination and search autoseggestion

[2021-09-03 05:15] hunny-metagauss commented on #71
done

[2021-09-03 05:17] hunny-metagauss commented on #93
@Bhagyashrimane  - I did some changes in the code regarding this. You need to check once.

[2021-09-03 06:37] Bhagyashrimane commented on #83
1. When clicked on line items showing options in properties like Sub Total, Show Line Items, Map Billing fields these options checkboxes are not clickable.
2. Sub Total, Show Line Items, Map Billing fields this option shows in the form but checkboxes are unselected in the properties.
3. When clicking on the line items first then control not comes on properties. When clicking on the payment field a

[2021-09-03 06:42] Bhagyashrimane commented on #78
Working fine.

[2021-09-03 06:42] #78 closed, assigned to rohit-metagauss

[2021-09-03 09:00] Bhagyashrimane commented on #85
Working URL-https://metagaussinc.github.io/Blazeforms-Revamped-Frontend/#/blazeforms/Main_Oraganization/Form222
URL on publish page-https://metagaussinc.github.io/#/blazeforms/Main_Oraganization/Form222---(not working)

[2021-09-03 09:00] #85 closed, assigned to Bhagyashrimane

[2021-09-03 09:13] Bhagyashrimane opened #97 "Same fields showing two times on the form.[Form-build]"
1. Create the form and add some fields.
2. Click on publish and Use the URL to see the form.
3. Observe the form.

Actual result- Form fields showing two times after publishing the page and using the URL to see the form at the frontend.
Submit button also not showing on the form.
Check here-
![image](https://user-images.githubusercontent.com/77260614/131981191-a92f451f-8643-49fc-b18b-322069ce0563.

[2021-09-03 09:15] Bhagyashrimane commented on #86
No error in console.

[2021-09-03 09:15] #86 closed, assigned to Bhagyashrimane

[2021-09-03 09:21] Bhagyashrimane commented on #80
Going to change the functionality. Instead of popover using three dots on the fields to see the popover.

[2021-09-03 09:21] #80 closed, assigned to Bhagyashrimane

[2021-09-03 10:33] Bhagyashrimane opened #98 "Entries page-not looking proper and features also not proper.[Form-Entries]"
1. Entries not able to check because of Published URL form not working properly.
2. Columns dropdown starts showing when there is some submission done on staging.
But on Revamp already showing the Columns dropdown.
In columns dropdown showing some fields like
![image](https://user-images.githubusercontent.com/77260614/131991849-1d7d4c8a-80d3-47a5-b189-e91f9103d255.png)

3. In Actions dropdown dele

[2021-09-03 10:36] Bhagyashrimane commented on #90
Looking fine.

[2021-09-03 10:36] #90 closed, assigned to Bhagyashrimane

[2021-09-03 10:41] hunny-metagauss commented on #5
Maximum 5 login attempts set. The condition is now based on the browser.

[2021-09-04 08:05] rohit-metagauss commented on #97
@Bhagyashrimane Please check test this.

[2021-09-04 08:47] Bhagyashrimane opened #99 "Login page related issue.[Login-page]"
1. Make Login page email fields allow copy past.
2. In the email field when start typing the email and just type one letter like abc12@gmail.com and type "a" only then showing the validation message "Enter is required"
3. Password field- eye icon showing double please remove the one eye icon for Show/Hide.
Browser - Chrome
Check here-
![image](https://user-images.githubusercontent.com/77260614/132

[2021-09-04 10:17] Bhagyashrimane commented on #84
Phone number field not showing on the publish page and On the Form URL also.
Number field looking fine.

[2021-09-04 11:47] Bhagyashrimane opened #100 "Add icons for all the fields.[Form-build]"
Please add the icons for all the fields on the form build page.
e.g.
![image](https://user-images.githubusercontent.com/77260614/132093393-d5186801-88fb-4aa8-9fd8-5eefa6c3240d.png)

[2021-09-04 11:53] rohit-metagauss commented on #94
@Bhagyashrimane Please check test this.

[2021-09-04 11:53] rohit-metagauss commented on #92
@Bhagyashrimane Please check test this.

[2021-09-04 11:53] rohit-metagauss commented on #89
@Bhagyashrimane Please check test this.

[2021-09-04 11:54] rohit-metagauss commented on #87
@Bhagyashrimane Please check test this.

[2021-09-04 11:54] rohit-metagauss commented on #83
@Bhagyashrimane Please check test this.

[2021-09-04 11:54] rohit-metagauss commented on #74
@Bhagyashrimane Please check test this.

[2021-09-04 11:56] rohit-metagauss commented on #98
@Bhagyashrimane Please check test this.

[2021-09-05 07:18] Bhagyashrimane commented on #97
Looking fine.

[2021-09-05 07:18] #97 closed, assigned to Bhagyashrimane

[2021-09-05 07:18] Bhagyashrimane commented on #88
Looking fine.

[2021-09-05 07:18] #88 closed, assigned to Bhagyashrimane

[2021-09-05 07:21] Bhagyashrimane commented on #87
Working fine on All pages like Build,Publish and Entries.

[2021-09-05 07:21] #87 closed, assigned to Bhagyashrimane

[2021-09-05 07:28] Bhagyashrimane commented on #81
1. Slider looking fine now. But Slide arrows and slides alignment not looking properly aligned.
2. Slider arrow not looking proper looking wide and looks not proper.

[2021-09-05 09:24] mJawed commented on #100
1. Text  <i class=" class="material-icons"">text_fields</i>
2. Date  <i class=" class="material-icons"">date_range</i>
3. Phone  <i class=" class="material-icons"">phone</i>
4. Currency
5. Price  <i class=" class="material-icons"">attach_money</i>
6. Name  <i class=" class="material-icons"">person</i>
7. Email  <i class=" class="material-icons"">mail</i>
8. Radio  <i class=" class="material-icons"

[2021-09-05 09:31] mJawed commented on #96
Fixed.

[2021-09-05 09:32] mJawed commented on #95
Other things are done
@hunny-metagauss Please add close functionality.

[2021-09-05 09:34] mJawed commented on #82
@hunny-metagauss Please add functionality as discussed.

[2021-09-05 09:59] mJawed commented on #81
Please check the slider demo https://swiperjs.com/demos,
if want a change, please assign it to hunny.

[2021-09-05 16:24] Bhagyashrimane commented on #93
Looking proper.

[2021-09-05 16:24] #93 closed, assigned to Bhagyashrimane

[2021-09-05 16:31] Bhagyashrimane commented on #74
Looking fine.

[2021-09-05 16:31] #74 closed, assigned to Bhagyashrimane

[2021-09-05 16:42] Bhagyashrimane commented on #69
Looking fine.

[2021-09-05 16:42] #69 closed, assigned to Bhagyashrimane

[2021-09-06 05:20] hunny-metagauss commented on #99
@Bhagyashrimane  -  I am not able to see any eye icon in front of the password field. Check once your browser settings. Sometimes it depends on the browser.

Other issues fixed.

[2021-09-06 05:38] hunny-metagauss commented on #95
@mJawed  done. please check once

[2021-09-06 05:46] Bhagyashrimane commented on #96
Compared with HTML provided by Jawed. Looking fine.

[2021-09-06 05:46] #96 closed, assigned to Bhagyashrimane

[2021-09-06 05:54] Bhagyashrimane commented on #94
Looking fine.

[2021-09-06 05:54] #94 closed, assigned to Bhagyashrimane

[2021-09-06 06:35] hunny-metagauss commented on #82
@Jawed05  I have added a class on validation messages as per our discussion. I also update on login, register, forgot password, add / edit organization. Please have a look and let me know if any additional pages you are required to add.

[2021-09-06 06:44] Bhagyashrimane commented on #81
Change plan slider looking fine as compared to Jawed provided the slider demo link.

[2021-09-06 06:44] #81 closed, assigned to Bhagyashrimane

[2021-09-06 07:26] Bhagyashrimane commented on #76
Working fine.

[2021-09-06 07:29] Bhagyashrimane commented on #45
Working fine.

[2021-09-06 07:29] #45 closed, assigned to Bhagyashrimane

[2021-09-06 07:36] Bhagyashrimane commented on #35
Looking fine.

[2021-09-06 07:36] #35 closed, assigned to Bhagyashrimane

[2021-09-06 08:59] Bhagyashrimane commented on #77
Working fine.

[2021-09-06 08:59] #77 closed, assigned to Bhagyashrimane

[2021-09-06 10:01] Bhagyashrimane commented on #73
These options not showing clickable
1. Folders & sub-folders showing in the filter- On the form view page
2. Checkboxes in front of the forms
3. Expand the link of the forms shown below the folder.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132199578-302eece6-8049-470b-9b0b-7f07b44e44e5.png)

[2021-09-06 10:13] Bhagyashrimane commented on #52
1. View details link on the plan not redirecting on the organization subscription page.
2. Cross sign to close the plan details not showing clickable.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132201344-df3eb272-9794-41a6-ae23-6be0a58b1fd6.png)
3. Subscription status also not showing clickable after closing the details plan.
Check here-
![image](https://user-images.gi

[2021-09-06 10:27] Bhagyashrimane commented on #51
Looking fine.

[2021-09-06 10:27] #51 closed, assigned to Bhagyashrimane

[2021-09-06 10:45] Bhagyashrimane commented on #50
1. selected file not showing in the field it is showing when hovering the cursor.
2. When selecting any file to upload selected file not showing in the Browse field.
3. Browse button not showing as clickable and when click on the whole select file field working as like a Browse file button.
4. Uploaded image on branding page not showing on the left side of the page as like LOGO.

[2021-09-06 10:52] Bhagyashrimane commented on #49
Looking fine.

[2021-09-06 10:52] #49 closed, assigned to Bhagyashrimane

[2021-09-06 10:53] Bhagyashrimane commented on #48
Looking fine.

[2021-09-06 10:53] #48 closed, assigned to Bhagyashrimane

[2021-09-06 12:27] Bhagyashrimane commented on #70
Looking fine.

[2021-09-06 12:27] #70 closed, assigned to Bhagyashrimane

[2021-09-06 17:20] hunny-metagauss commented on #60
done

[2021-09-07 01:45] rohit-metagauss commented on #84
@Bhagyashrimane  This is fixed.

[2021-09-07 03:04] Bhagyashrimane commented on #68
1.Bulk action Move and Archived icons interchanged as compared to staging site.
2. Bulk moves- Immediately not moving the forms when refreshing the page it will show the forms moved in the folder.
3. Bulk Archived-
 Steps-
a) select the forms 2 or more.
b) click on Bulk Archived
c)cancel the process
d)deselect one of the form
e)click on Bulk Archived
 Actual result - above steps followed then sele

[2021-09-07 03:12] Bhagyashrimane commented on #76
1. Still facing the same issue. Organization added in the list but not in organization workflow dropdown.
2. When creating a new organization filled all data in the form and click on the save page redirects to plans. Then trying to select the plan not redirecting on the billing page it is redirecting back to the General organization form page. That's why showing validation message with organizatio

[2021-09-07 03:18] Bhagyashrimane commented on #66
Looking fine.

[2021-09-07 03:18] #66 closed, assigned to Bhagyashrimane

[2021-09-07 03:21] Bhagyashrimane commented on #65
Working fine.

[2021-09-07 03:21] #65 closed, assigned to Bhagyashrimane

[2021-09-07 03:24] Bhagyashrimane commented on #63
Working fine.

[2021-09-07 03:24] #63 closed, assigned to Bhagyashrimane

[2021-09-07 03:30] Bhagyashrimane commented on #62
1. The alignment of the icons is not proper.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132279791-8546370c-f9d6-4d9c-8857-6da27d87163e.png)

2. On staging social icons showing like this-
![image](https://user-images.githubusercontent.com/77260614/132279895-e634bd4a-5c17-4c45-a56e-95206eeb5799.png)

[2021-09-07 03:44] hunny-metagauss commented on #76
done

[2021-09-07 03:49] Bhagyashrimane commented on #61
1. Mandatory fields signs showing and button labels also looking fine.
2. But able to type any random string in the To-email field and not showing any validation message.

[2021-09-07 03:50] Bhagyashrimane commented on #59
Looking fine.

[2021-09-07 03:50] #59 closed, assigned to Bhagyashrimane

[2021-09-07 03:53] Bhagyashrimane commented on #57
Working fine.

[2021-09-07 03:53] #57 closed, assigned to Bhagyashrimane

[2021-09-07 03:54] Bhagyashrimane commented on #56
Looking fine.

[2021-09-07 03:54] #56 closed, assigned to Bhagyashrimane

[2021-09-07 03:59] Bhagyashrimane commented on #55
Looking fine.

[2021-09-07 03:59] #55 closed, assigned to Bhagyashrimane

[2021-09-07 04:04] Bhagyashrimane commented on #47
Looking fine. Compared with HTML provided.

[2021-09-07 04:04] #47 closed, assigned to Bhagyashrimane

[2021-09-07 04:04] hunny-metagauss commented on #61
fixed

[2021-09-07 04:05] Bhagyashrimane commented on #46
Looking fine.

[2021-09-07 04:05] #46 closed, assigned to Bhagyashrimane

[2021-09-07 04:10] Bhagyashrimane commented on #38
When creating a new organization still accepting any random string in the email field.
e.9.abc@gmail....com

[2021-09-07 04:12] Bhagyashrimane commented on #33
Working fine.

[2021-09-07 04:12] #33 closed, assigned to Bhagyashrimane

[2021-09-07 04:18] Bhagyashrimane commented on #60
Redirecting on the billing page.

[2021-09-07 04:18] #60 closed, assigned to Bhagyashrimane

[2021-09-07 04:21] Bhagyashrimane commented on #53
verified with staging looking fine.

[2021-09-07 04:21] #53 closed, assigned to Bhagyashrimane

[2021-09-07 04:38] hunny-metagauss commented on #38
fixed

[2021-09-07 05:00] Bhagyashrimane commented on #32
Looking fine.

[2021-09-07 05:00] #32 closed, assigned to Bhagyashrimane

[2021-09-07 05:07] Bhagyashrimane commented on #30
When the organization is deleted then showing the page loader and the organization list appears. But taking a little more time to load almost 10 to 12 sec.

[2021-09-07 05:08] Bhagyashrimane commented on #29
Working fine.

[2021-09-07 05:08] #29 closed, assigned to Bhagyashrimane

[2021-09-07 06:25] Bhagyashrimane commented on #54
Looking fine.

[2021-09-07 06:25] #54 closed, assigned to Bhagyashrimane

[2021-09-07 06:47] hunny-metagauss commented on #30
This depends on the server response time

[2021-09-07 07:25] Bhagyashrimane commented on #24
steps-
1. Forms page and click on permission of the forms.
2. Add the user and give permissions to the user like view, delete, edit.
3. Edit the given permissions to the user
4. for 1st time saving the updates but 2nd time when edits permissions do not save.
5. Means it is one-time permissions given to update.
6. View option on staging site, not editable.

[2021-09-07 07:51] Bhagyashrimane commented on #64
Looking fine.

[2021-09-07 07:51] #64 closed, assigned to Bhagyashrimane

[2021-09-07 07:57] mJawed commented on #82
Fixed.

[2021-09-07 08:51] Bhagyashrimane commented on #58
1. Click on one of the organizations and go to the Roles page. Standard and Administration Roles permissions modules are showing editable.
2. Create a new role and click on the delete button of the newly added role or any role existing. Click on the cross button of the popup to close. But the created role is deletes from the list.

[2021-09-07 08:52] Bhagyashrimane commented on #36
1. Login with superadmin.
2. click on add organization and fill all the data in the form.
3. Add organization button not highlighted and not clickable.

[2021-09-07 08:54] Bhagyashrimane commented on #25
1. For forgot password page Enter key working fine.
2. For Sign up page not Enter key not working.

[2021-09-07 08:58] Bhagyashrimane opened #101 "User page-Invited user on organization page email field showing editable.[Manage-work-space]"
When editing the invited user,
On staging-email field showing not editable
On Revamp- email field showing editable. That's why able to change the email and got a mail that the user switched from one email user to another email user.

[2021-09-07 09:07] Bhagyashrimane commented on #34
Looking fine.

[2021-09-07 09:07] #34 closed, assigned to Bhagyashrimane

[2021-09-07 09:16] Bhagyashrimane commented on #18
1. Looking fine. Only Forms able to search.
2. But the searching form in the hided list then form not shows the folder with browse all forms link. This link need to expand then shows the form.
check here-
![image](https://user-images.githubusercontent.com/77260614/132318860-4e26c048-2e17-4ab5-88e4-33a9164c4e71.png)

[2021-09-07 09:18] Bhagyashrimane commented on #82
Still moves the positions of the fields.

[2021-09-07 09:22] Bhagyashrimane commented on #76
Working fine.

[2021-09-07 09:23] #76 closed, assigned to Bhagyashrimane

[2021-09-07 09:24] Bhagyashrimane commented on #30
Then Ok.

[2021-09-07 09:24] #30 closed, assigned to Bhagyashrimane

[2021-09-07 09:29] Bhagyashrimane commented on #27
1. For search auto-suggestions- when searching any organization then deleted that search but the list still shows and then click on outside the page anywhere then it closes.
2. For pagination- when clicking on the 2nd-page button or any button the positions of the buttons change.

[2021-09-07 09:32] Bhagyashrimane commented on #3
Looking fine.

[2021-09-07 09:32] #3 closed, assigned to Bhagyashrimane

[2021-09-07 09:40] Bhagyashrimane commented on #17
Functionality working fine.
1. But the button colors for all checkboxes showing blue.

[2021-09-07 09:47] Bhagyashrimane commented on #20
Looking fine.

[2021-09-07 09:47] #20 closed, assigned to Bhagyashrimane

[2021-09-07 09:48] Bhagyashrimane commented on #23
Working fine.

[2021-09-07 09:48] #23 closed, assigned to Bhagyashrimane

[2021-09-07 09:49] Bhagyashrimane commented on #5
There are 3 limits for the unsuccessful login attempt. Working fine.

[2021-09-07 09:49] #5 closed, assigned to Bhagyashrimane

[2021-09-07 09:52] Bhagyashrimane commented on #12
When the Tab comes on Terms and condition checkbox Enter key not working means when Tab key control comes on Checkbox and press the Enter key then checkbox not got selected.

[2021-09-07 10:11] Bhagyashrimane commented on #67
Looking fine.

[2021-09-07 10:11] #67 closed, assigned to Bhagyashrimane

[2021-09-07 10:14] Bhagyashrimane commented on #31
looking fine.

[2021-09-07 10:14] #31 closed, assigned to Bhagyashrimane

[2021-09-07 10:37] Bhagyashrimane commented on #95
As per discussion with Jawed, the Color of the view details bar should be like this.

[2021-09-07 10:37] #95 closed, assigned to Bhagyashrimane

[2021-09-07 10:37] mJawed commented on #52
Fixed

[2021-09-07 10:40] Bhagyashrimane opened #102 "On Roles page, Permission checkboxes showing in blue colors.[Manage-work-space]"
1. Click on one of the organizations.
2. click on the Roles page.
3. Add a new role or edit the existing role.

Actual result- The checkboxes of the permission modules on the Role pages showing blue colored.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132331454-7d546245-9e1a-49ec-a6fd-d47c7c1dfeba.png)

[2021-09-07 10:43] mJawed commented on #50
Regarding file name : This bootstrap issue, we need use custom fixes
https://stackoverflow.com/questions/43250263/bootstrap-4-file-input

[2021-09-07 10:48] mJawed commented on #102
Fixed.

[2021-09-07 10:49] Bhagyashrimane commented on #52
View details link on the plan not redirecting on the organization subscription page.

[2021-09-07 11:00] Bhagyashrimane opened #103 "Login page- password field size changes.[Login-page]"
1. Open the login page.
2. Observe the password field.

Check here-
![image](https://user-images.githubusercontent.com/77260614/132333890-4e75a748-d1b4-4287-b9f8-75ab370c86c6.png)

[2021-09-07 11:01] Bhagyashrimane commented on #99
1st and 2nd issue working fine.
3rd issue specific to browsers.

[2021-09-07 11:01] #99 closed, assigned to Bhagyashrimane

[2021-09-07 11:17] mJawed commented on #103
Fixed.

[2021-09-07 11:32] hunny-metagauss commented on #24
fixed

[2021-09-07 11:33] hunny-metagauss commented on #101
fixed

[2021-09-07 12:04] hunny-metagauss commented on #52
fixed

[2021-09-07 12:12] hunny-metagauss commented on #27
@Jawed05  first point done. Please check second point

[2021-09-07 12:16] Bhagyashrimane commented on #71
1. Click on the logout button, after successful logout on the login screen press the back button. It will show the login page.
Showing below page-
![image](https://user-images.githubusercontent.com/77260614/132339113-2b13d349-10c9-4425-a281-1829da23fc38.png)

[2021-09-07 12:29] Bhagyashrimane opened #104 "Form page- When click on the edit option of the forms details of the forms not showing.[Form-view]"
1. Login and click on edit option one of the forms.
2. Then Observe the edit popup.

Actual result- When click on edit of the forms then details of the forms not showing.
Check here-https://nimb.ws/WwoUPs

[2021-09-07 12:43] hunny-metagauss commented on #50
fixed

[2021-09-07 13:08] mJawed commented on #82
Fixed.

[2021-09-07 13:13] mJawed commented on #73
Added cursor checkbox and filter arrow

[2021-09-07 13:21] mJawed commented on #62
Alignment fixed, we will use a new design of social icons.

[2021-09-07 13:33] mJawed commented on #100
Added all icons.

[2021-09-07 13:40] mJawed commented on #27
Fixed pagination issue

[2021-09-07 13:46] Bhagyashrimane commented on #91
As per discussion with Jawed, the Notification popup design is ok.

[2021-09-07 13:46] #91 closed, assigned to Bhagyashrimane

[2021-09-07 14:00] mJawed commented on #17
Fixed.

[2021-09-07 14:02] mJawed commented on #12
Ad discussed this checkbox is a bootstrap issue,

[2021-09-07 15:59] hunny-metagauss commented on #36
fixed

[2021-09-08 01:44] hunny-metagauss commented on #58
fixed

[2021-09-08 03:06] hunny-metagauss commented on #25
fixed

[2021-09-08 03:08] Bhagyashrimane commented on #44
Able to upload the image on the branding page. But Logo on header left side not updating.

[2021-09-08 03:27] Bhagyashrimane commented on #103
Looking fine.

[2021-09-08 03:27] #103 closed, assigned to Bhagyashrimane

[2021-09-08 03:33] Bhagyashrimane commented on #101
working fine.

[2021-09-08 03:33] #101 closed, assigned to Bhagyashrimane

[2021-09-08 03:35] Bhagyashrimane commented on #12
As discussed with Jawed, looking fine then.

[2021-09-08 03:35] #12 closed, assigned to Bhagyashrimane

[2021-09-08 03:39] Bhagyashrimane commented on #17
Still showing the blue color for buttons.

[2021-09-08 04:04] Bhagyashrimane commented on #82
Looking fine for all forms.

[2021-09-08 04:04] #82 closed, assigned to Bhagyashrimane

[2021-09-08 06:13] Bhagyashrimane commented on #58
Looking fine.

[2021-09-08 06:13] #58 closed, assigned to Bhagyashrimane

[2021-09-08 06:25] Bhagyashrimane commented on #24
Working fine.

[2021-09-08 06:25] #24 closed, assigned to Bhagyashrimane

[2021-09-08 06:35] Bhagyashrimane commented on #28
Looking fine.

[2021-09-08 06:35] #28 closed, assigned to Bhagyashrimane

[2021-09-08 06:54] Bhagyashrimane commented on #36
Looking fine.

[2021-09-08 06:54] #36 closed, assigned to Bhagyashrimane

[2021-09-08 06:54] hunny-metagauss commented on #44
fixed

[2021-09-08 07:40] Bhagyashrimane commented on #25
Looking fine.

[2021-09-08 07:40] #25 closed, assigned to Bhagyashrimane

[2021-09-08 08:09] Bhagyashrimane commented on #73
![image](https://user-images.githubusercontent.com/77260614/132471268-6fb29a18-48fd-4c48-86c4-9e6704d27fcd.png)
 Black color underlined option still not showing clickable.

[2021-09-08 08:29] mJawed commented on #17
Done

[2021-09-08 08:30] mJawed commented on #73
Fixed.

[2021-09-08 09:17] Bhagyashrimane commented on #27
Looking fine.

[2021-09-08 09:17] #27 closed, assigned to Bhagyashrimane

[2021-09-08 09:37] Bhagyashrimane opened #105 "Number field, icon and label alignment not proper and page break field label not showing .[Form-build]"
A.
1. Form build page
2. Controls and observe the fields.
3. Basic controls
Alignment of Number fields icon and label not proper.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132483251-c7fafcba-32ed-493d-829b-02424034563a.png)

B. Page break field label and icon not showing. in Layout controls
Check here-
![image](https://user-images.githubusercontent.com/77260614/132484

[2021-09-08 09:53] Bhagyashrimane opened #106 "For page break- Popover body not able to open properly.[Form-build]"
1. Form build page
2. drag and drop page -break field.
3. observe ellipsis.
Page break field, Popover body 3 dots ellipsis not able to click. Because not able to hover proper control on that ellipsis (3 dots).

[2021-09-08 10:44] Bhagyashrimane opened #107 "When control is resized to the biggest size then Make Bigger or Make smaller not appearing faded out.[Form-build]"
1. When control is resized to the biggest possible size either via contextual menu or via left side panel options, the contextual option for "Make Bigger" not appearing to fade out.
2. When control is resized to the smallest possible size either via contextual menu or via left side panel options, the contextual option for "Make Smaller" not appearing to fade out.

[2021-09-08 10:59] Bhagyashrimane opened #108 "Publish-page, Submit button label color is not visible properly.[Form-publish]"
1. Form build.
2. Drag and drop some fields.
3. Click on publish

Actual result- Submit button label not visible when hover over the button then shows the Label.

[2021-09-08 11:06] Bhagyashrimane opened #109 "Publish page, Embed on your site HTML textfield box size not able to expand.[Form-publish]"
1. Publish page.
2. Embed on your site text field box.

Actual result-  Box size of Embed on your site not able to expand.

[2021-09-08 11:23] Bhagyashrimane opened #110 "Entries page- without any submissions of the forms on entries not showing no records text not showing.[Form-entries]"
1. Click on the form builder.
2. Add some fields.
3. Click on the Entries page.

Actual result- Not showing any Text as like No records.

Note- For Form page view also if in any organization does not have any forms then on that page also No records text should show.

[2021-09-08 11:52] Bhagyashrimane opened #111 "When control comes from Entries page to Form build page in dropdown of forms showing one form only.[Form-build]"
1. Form the build page and add some fields.
2. Click on the entries page.
3. select one form from the dropdown of the forms.
4. Then click on Build.
5. Observe the form dropdown.

Actual result- In the dropdown showing one form only which selected in the Entries page.
Other forms not showing in the dropdown.

[2021-09-08 12:00] mJawed commented on #109
Please remove default red on the submit button, defualt should be white

[2021-09-08 12:05] mJawed commented on #106
Removed ellipsis

[2021-09-08 12:17] mJawed commented on #108
Please remove default red on the submit button, default should be white

[2021-09-08 12:42] mJawed commented on #109
Added min-height now not need to expand it

[2021-09-08 12:43] mJawed commented on #105
its working fine it my local

@rohit-metagauss could you please check it at your end.

[2021-09-08 13:50] Bhagyashrimane opened #112 "Payment field related issues.[Form-build]"
**A**.1. Apply page break field and add payment field on the second page.
2. Publish the form and add try to submit the form use URL.
Actual result- Line items showing on both the pages and submit also shows on both the pages.

**B**.Additional option added when clicked on the line items then added extra options not showing on the build page.

**C**. 1. Click on line items.
2. additional items opt

[2021-09-08 14:03] Bhagyashrimane opened #113 "When drag the field and drop in controls page then not redirecting on fields control.[Form-build]"
1. Form build page.
2. Drag the field added in the form building.
3. drop that field back in the controls.

actual result- When dropping the fields back from form build to fields control then control not coming on field basic controls

[2021-09-09 04:26] rohit-metagauss commented on #111
@Bhagyashrimane Please re-test this.

[2021-09-09 04:29] rohit-metagauss commented on #110
@Jawed05 Please add this message styling.

[2021-09-09 05:01] Bhagyashrimane opened #114 "Entries page- Submissions columns alignment not proper."
Entries page- Alignment of form submission columns alignment not proper.
check here-
![image](https://user-images.githubusercontent.com/77260614/132625575-e508e18f-148b-4462-a194-55e30950ec07.png)

[2021-09-09 05:29] Bhagyashrimane commented on #111
Looking fine.

[2021-09-09 05:29] #111 closed, assigned to Bhagyashrimane

[2021-09-09 06:00] Bhagyashrimane opened #115 "Thanks page after submitting the form which is not payment option not looking proper."
After submitting the form without any payment option still shows the transaction id and amount content on Thanks page.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132631238-03cb7997-bfa7-496c-ba3c-1850e207325b.png)

[2021-09-09 06:51] Bhagyashrimane opened #116 "Toggle field related issue. [Form-build]"
1. when checked the collect payment checkbox not showing  the line payments options.
2. Toggle pre-defined labels alignment not showing on proper at frontend.

[2021-09-09 07:08] Bhagyashrimane opened #117 "Form opened in popup when clicking on Entries->>New Entry alignment not proper."
1. click on entries.
2.  click on New entry.

Actual result- from popup window alignment not looking proper.
Check here-
![image](https://user-images.githubusercontent.com/77260614/132637543-b80cee53-2428-4191-b478-07d01533e7fe.png)

[2021-09-09 07:20] Bhagyashrimane opened #118 "Style editor on publish page, backgorund color and backgroung image not looking at frontend."
1. Publish page and click on style editor.
2. set the background image or background color.
Actual result- background image or background color set in style editor not showing at frontend.

[2021-09-09 07:38] Bhagyashrimane opened #119 "Currency field related issues.[Form-build]"
When clicked on the collect payment checkbox not showing line items on the build page and frontend also.

[2021-09-09 07:46] Bhagyashrimane opened #120 "Date field-related issue.[Form-build]"
1. date format at build page and at frontend showing different
Check here-
build page-
![image](https://user-images.githubusercontent.com/77260614/132644496-098103e2-3372-4d61-9e10-fa5abdf37e1d.png)

Frontend-
![image](https://user-images.githubusercontent.com/77260614/132644568-050115c7-844d-4f18-81da-699c6c8fa1e8.png)

2. At the frontend date field year format accepting value more than four.
che

[2021-09-09 07:55] Bhagyashrimane opened #121 "Time field alignment not proper when changes the size.[Form-build]"
The time field is not proper when changes the size of the field.
check here-
![image](https://user-images.githubusercontent.com/77260614/132646257-906ff93e-7132-4d02-8404-9ece52481a33.png)

[2021-09-09 08:21] Bhagyashrimane opened #122 "Created a new non-admin user and logged in with it. But it is showing me whole lot of data for super admin."
Scenario-
1. Login with superadmin.
2. and Logout from the site.
3. Login with another user like the non-admin users.
4. Then check the organization dropdown.

Actual result- In the organization dropdown showing superadmin organization when we are logged in with non-admin user and able to see all the forms of superadmin organization.

[2021-09-09 08:52] mJawed commented on #115
Fixed.

[2021-09-09 09:29] hunny-metagauss commented on #122
@rohit-metagauss - Please check this issue. I didn't the cause of the issue

[2021-09-09 13:34] rohit-metagauss commented on #120
@Jawed05 JS part is completed for this, Please remove extra icon from input.

[2021-09-09 13:35] rohit-metagauss commented on #116
@Jawed05 JS part is completed for this issue.

[2021-09-09 14:55] charan-singh05 commented on #122
Issue was due to state not being managed for the relevant point. Fixed and verified.

[2021-09-09 14:55] #122 closed, assigned to charan-singh05

[2021-09-09 16:08] charan-singh05 commented on #113
Issue resolved.

[2021-09-09 16:08] #113 closed, assigned to Bhagyashrimane

[2021-09-09 16:12] charan-singh05 commented on #119
Issue fix verified.

[2021-09-09 16:12] #119 closed, assigned to Bhagyashrimane

[2021-09-09 16:13] charan-singh05 commented on #38
Issue fix verified.

[2021-09-09 16:13] #38 closed, assigned to Bhagyashrimane

[2021-09-09 16:18] charan-singh05 commented on #17
Issue fix verified.

[2021-09-09 16:18] #17 closed, assigned to Bhagyashrimane

[2021-09-09 16:19] charan-singh05 commented on #52
Issue fix verified.

[2021-09-09 16:19] #52 closed, assigned to Bhagyashrimane

[2021-09-09 16:25] charan-singh05 commented on #50
Issue fix verified.

[2021-09-09 16:25] #50 closed, assigned to Bhagyashrimane

[2021-09-09 16:31] charan-singh05 commented on #68
Issue fix verified.

[2021-09-09 16:31] #68 closed, assigned to Bhagyashrimane

[2021-09-09 16:39] charan-singh05 commented on #61
Issue fix verified.

[2021-09-09 16:39] #61 closed, assigned to Bhagyashrimane

[2021-09-09 16:39] charan-singh05 commented on #62
Issue fix verified.

[2021-09-09 16:39] #62 closed, assigned to Bhagyashrimane

[2021-09-09 17:11] charan-singh05 commented on #71
Issue fix verified.

[2021-09-09 17:11] #71 closed, assigned to Bhagyashrimane

[2021-09-09 17:31] Bhagyashrimane opened #123 "Line items- Map billing field extra fields like name, email, address data not coming in user mail.[Form-build]"
1. Map billing fields extra fields in the line items.
 Actual result- When all extra fields like Name, Email, Address fields info not showing in the email when the user submits the forms.

[2021-09-09 17:34] Bhagyashrimane commented on #115
Not fixed still showing the same page
![image](https://user-images.githubusercontent.com/77260614/132734692-7e5a568f-a53d-4b8f-8fb5-a7e7a5714365.png)

[2021-09-09 17:38] Bhagyashrimane commented on #112
First 3 issues looking fine.
4th one was reported separately.

[2021-09-09 17:38] #112 closed, assigned to Bhagyashrimane

[2021-09-09 17:39] Bhagyashrimane commented on #108
Looking fine.

[2021-09-09 17:39] #108 closed, assigned to Bhagyashrimane

[2021-09-09 17:40] rohit-metagauss commented on #18
@Bhagyashrimane Above pointer is fixed and deployed.

[2021-09-09 17:40] Bhagyashrimane commented on #107
Still issue appearing.

[2021-09-09 17:41] Bhagyashrimane commented on #106
Ellipsis is not removed still showing with page breaks.

[2021-09-09 17:45] Bhagyashrimane commented on #98
2nd issue still showing.

[2021-09-09 17:52] Bhagyashrimane commented on #83
Working fine all issues.

[2021-09-09 17:52] #83 closed, assigned to Bhagyashrimane

[2021-09-09 17:53] Bhagyashrimane commented on #104
Folder not showing correctly in the dropdown of folders when clicking on the edit of the forms.

[2021-09-09 17:54] Bhagyashrimane commented on #100
Number field and page break field not looking proper.

[2021-09-09 18:02] Bhagyashrimane commented on #84
For the phone number field, there is not a proper validation for Us and international also.

[2021-09-09 18:05] Bhagyashrimane commented on #104
Working fine.

[2021-09-09 18:05] #104 closed, assigned to Bhagyashrimane

[2021-09-09 18:16] charan-singh05 commented on #18
Issue fixed and verified.

[2021-09-09 18:16] #18 closed, assigned to Bhagyashrimane

[2021-09-09 18:20] charan-singh05 opened #124 "Filter Pop-up Placing Issues"
1- When filter pop-up is opened up, it doesn't close by itself if you click outside anywhere on the page.

2- Try searching for folder having only one entry. The pop-up and footer will be all misaligned. On smaller screen, bottom half of the filter pop-up won't even be visible.

3- Open the Filter pop-up. Hover the cursor over the folder or sub-folder name. The cursor will change into text entry t

[2021-09-09 18:21] charan-singh05 commented on #73
Issue fix verified.

[2021-09-09 18:21] #73 closed, assigned to Bhagyashrimane

[2021-09-09 18:25] charan-singh05 commented on #75
Issue fixes verified.

[2021-09-09 18:25] #75 closed, assigned to Bhagyashrimane

[2021-09-09 18:28] charan-singh05 commented on #105
Jawed- this is still an issue.

Also, when we click on "Collect Payment" check box, the subsequent entry boxes for prices are all having alignment issues.

[2021-09-09 18:29] charan-singh05 commented on #79
Issue fixed.

[2021-09-09 18:29] #79 closed, assigned to Bhagyashrimane

[2021-09-09 18:31] charan-singh05 opened #125 "Header Bar B/g Images Missing"
Header bar b/g images for Forms, Organisations etc are missing.

[2021-09-09 18:34] charan-singh05 opened #126 "Copy Existing Form Design Issues"
1- Hovering mouse over to the options changes it into text cursor instead of selection cursor.

2- There should be tooltips appearing when we are hovering mouse over copy or view options. Text: "Copy this form", and "Preview this form"

3- On clicking "View", pop-up renders preview of the form. There is no "Back" button on the screen to go back to the list. We need back arrow button on top left ha

[2021-09-09 18:36] charan-singh05 opened #127 "Forms Page Tooltips"
Delete, Archive, Move, Edit, Add Permissions, all icons on the Forms screen should have tooltips/help-text appearing when mouse is hovered over those. Please ping me for text wherever it is not self-evident as to what text should show up.

[2021-09-09 18:37] charan-singh05 commented on #102
Issue fix verified.

[2021-09-09 18:37] #102 closed, assigned to Bhagyashrimane

[2021-09-09 18:41] charan-singh05 commented on #109
We still need this box to be expandable when mouse is clicked over lower right side of the box and dragged down. We can keep maximum expanding limit to 5 lines along with the scroll bar.

[2021-09-09 18:49] charan-singh05 commented on #89
Issue fix verified.

[2021-09-09 18:49] #89 closed, assigned to Bhagyashrimane

[2021-09-09 18:50] charan-singh05 commented on #92
Issue fix verified.

[2021-09-09 18:50] #92 closed, assigned to Bhagyashrimane

[2021-09-10 03:53] charan-singh05 commented on #98
Issue fixed and verified.

[2021-09-10 03:53] #98 closed, assigned to Bhagyashrimane

[2021-09-10 04:24] charan-singh05 opened #128 "No of Enteries and Storage Numbers Not Updating"
In the header bar where we are seeing metrics about plan usage, "No of Entries" and "Storage Space" numbers don't update even after making few entries and consuming some space overall.

[2021-09-10 10:03] #126 closed, assigned to charan-singh05

[2021-09-10 10:03] #127 closed, assigned to charan-singh05

[2021-09-10 10:25] mJawed commented on #125
We are not using any header image on Revamp

[2021-09-10 10:54] #125 closed, assigned to charan-singh05

[2021-09-10 11:06] mJawed commented on #124
Fixed

[2021-09-10 11:08] mJawed commented on #121
Fixed

[2021-09-10 11:17] mJawed commented on #120
Removed extra date icon

[2021-09-10 11:20] mJawed commented on #115
it is done, please retest it after deployment

[2021-09-10 11:57] Bhagyashrimane commented on #44
Working fine.

[2021-09-10 11:57] #44 closed, assigned to Bhagyashrimane

[2021-09-10 17:52] rohit-metagauss commented on #19
@charan-singh05 I verified this on live link. Please check this.

[2021-09-10 18:17] mJawed commented on #109
Added

[2021-09-10 18:18] mJawed commented on #116
Label alignment fixed.

[2021-09-10 18:29] rohit-metagauss commented on #42
@charan-singh05 Added fix for this. Please check this.

@hunny-metagauss Changed Gaurd for the manage work spaces  -- FYI.

[2021-09-10 18:45] mJawed commented on #118
Fixed.

[2021-09-10 18:49] mJawed commented on #106
please checked now, changes were not deployed.

[2021-09-10 18:51] mJawed commented on #107
It's working fine at my end, could you please retest it.

[2021-09-11 07:57] #123 closed, assigned to charan-singh05

[2021-09-11 10:00] mJawed commented on #110
@rohit-metagauss styling done, please add conditions, error only appears when no records found.

[2021-09-12 06:13] charan-singh05 commented on #124
Issue fix verified.

[2021-09-12 06:13] #124 closed, assigned to charan-singh05

[2021-09-12 06:16] charan-singh05 commented on #42
Issue fix verified.

[2021-09-12 06:16] #42 closed, assigned to charan-singh05

[2021-09-12 06:18] charan-singh05 commented on #107
Issue fix verified.

[2021-09-12 06:18] #107 closed, assigned to charan-singh05

[2021-09-12 06:18] charan-singh05 commented on #109
Issue fix verified.

[2021-09-12 06:18] #109 closed, assigned to charan-singh05

[2021-09-12 06:34] charan-singh05 commented on #114
Issue fix verified.

[2021-09-12 06:34] #114 closed, assigned to charan-singh05

[2021-09-12 06:34] charan-singh05 commented on #115
Issue fix verified.

[2021-09-12 06:34] #115 closed, assigned to charan-singh05

[2021-09-12 08:31] charan-singh05 commented on #106
Page break still not working properly. But it will be tracked over different issue. Closing this one.

[2021-09-12 08:31] #106 closed, assigned to charan-singh05

[2021-09-12 08:35] charan-singh05 commented on #121
Issue fix verified.

[2021-09-12 08:35] #121 closed, assigned to charan-singh05

[2021-09-12 08:43] charan-singh05 commented on #120
Date format difference still exist. While building the form, its using "yyyy-mm-dd" and after publishing, form is displaying "dd-mm-yyyy"

Also all date input boxes (min date, max date, default date) in properties for Date control still accept any random entries. We can make them read-only, and user should only be allowed to enter date by clicking on calendar icon next to these properties.

[2021-09-12 08:49] charan-singh05 commented on #118
Issue fix verified.

[2021-09-12 08:49] #118 closed, assigned to charan-singh05

[2021-09-12 08:50] charan-singh05 commented on #117
Issue fix verified.

[2021-09-12 08:50] #117 closed, assigned to charan-singh05

[2021-09-12 08:52] charan-singh05 commented on #116
When you click on "Collect Payment", the resulting options for fields underneath it are all misaligned.

[2021-09-12 09:50] charan-singh05 commented on #100
Icons for Calendar and Time controls on Form builder page are same. Time's icon needs to be updated.

[2021-09-12 09:53] charan-singh05 opened #129 "Design Issues"
**Issue One**
 (Jawed)
On Enterprise page, when you click on "Columns" button, we should not see an empty check-box:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/81736010/132983223-d1164431-dcf7-49c8-9a8b-6a946dbb397c.png)

**Issue Two**
(Jawed and Rohit)
When no columns are selected (e.g, user removes all the check-box selections), We should see just see empty page instead o

[2021-09-13 03:44] hunny-metagauss commented on #128
@rohit-metagauss  Please add 2 services for user uses and toast notification on add/update/delete actions.
1. this.dataSharingService.UpdateHeaderUserPlanDetail(loggedin_user_id, selected_workspace_id);
2. this.toastService.showSuccess(success_message); or this.toastService.showError(error_message);

[2021-09-13 16:47] mJawed commented on #116
Fixed

[2021-09-13 18:03] mJawed commented on #129
All points are covred.

[2021-09-13 18:05] mJawed commented on #105
@rohit-metagauss  As discussed, please check it at the time of deploment.

[2021-09-14 01:54] #129 closed, assigned to charan-singh05

[2021-09-14 04:31] charan-singh05 commented on #120
The help-text shows date in correct format, but after you select date on calendar for any of the fields, it still shows "yyyy-mm-dd" instead of "dd-mm-yyyyy"

Also, when hovering cursor over calendar icon, for selecting the date, it shows "text cursor" instead of selection cursor.

Lastly, click on any of the date fields in left side panel, and you are still allowed to type in anything- text or nu

[2021-09-14 04:32] charan-singh05 commented on #116
Still persists.

[2021-09-14 04:33] charan-singh05 commented on #110
Issue fix verified.

[2021-09-14 04:33] #110 closed, assigned to charan-singh05

[2021-09-14 04:33] charan-singh05 commented on #84
Issue fix verified.

[2021-09-14 04:33] #84 closed, assigned to charan-singh05

[2021-09-14 04:41] charan-singh05 opened #130 "Add Workflow problem"
Critical: the workflow when we click on "Add Workflow" and then "Save" button on pop-up window still doesn't take me to Define page directly. The workflow is saved but I need to manually select it from list to start working on it

[2021-09-14 09:24] charan-singh05 opened #131 "Usage Stats for Users Exceeding Allowed Limit"
If you select organisation "PMd" for user charan.singh05@protonmail.com, you will see that in "Current Usage stats, number of users are being shown as 13/10". That means that actual number of users exceed those allowed by the plan, if high priority issue. Also, there is another catch.. I counted and found that number of users are 8 or thereabouts. Need to check the workflow what is going on here.

[2021-09-14 11:12] charan-singh05 opened #132 "Custom Roles And Organization Permissions"
**Issue One:**

When using custom role. Select all "View" options. Assign custom role to invited user. When invited user logs in, they are unable to access any forms or workflows. This should be the case only when "View" option is not selected for Organization.

**Issue Two:**

When a custom role associated with any of the invited users is deleted, it should show message: "This role is associated

[2021-09-14 14:17] charan-singh05 commented on #130
Issue fix verified.

[2021-09-14 14:17] #130 closed, assigned to charan-singh05

[2021-09-15 02:12] charan-singh05 commented on #132
1- With View only access to Org, I am still able to make changes in "Account Settings" tab
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/81736010/133358998-50403109-0a83-414b-8948-66f4483044f7.png)

2- When trying to delete Role associated with invited user, the message I get is:

Success!
Role will not be deleted as this is already assigned to the user

"Success" word is a

[2021-09-15 04:19] hunny-metagauss commented on #132
All issues fixed.

only Analyze the "Upload" permissions option pending. give me some time for this

[2021-09-15 04:21] hunny-metagauss commented on #131
this is because of the downgrading of the current plan.

[2021-09-15 04:42] charan-singh05 commented on #131
User should not be allowed to select lower tier plans than the one they have.

[2021-09-15 05:05] charan-singh05 opened #133 "Pending Defects- Rohit"
1.
![image](https://user-images.githubusercontent.com/81736010/133373779-dc4a52b1-c38d-4ae6-be20-8b9d55fae577.png)

[2021-09-15 05:07] charan-singh05 commented on #116
Issue fix verified.

[2021-09-15 05:07] #116 closed, assigned to charan-singh05

[2021-09-15 05:10] charan-singh05 commented on #105
Closing this now for re-test on staging deployment. If issue is not resolved even on Staging, then this has to be re-visited.

[2021-09-15 05:10] #105 closed, assigned to rohit-metagauss

[2021-09-15 05:26] #133 closed, assigned to nobody

[2021-09-15 05:52] mJawed commented on #100
Time icon updated.

[2021-09-15 07:29] hunny-metagauss commented on #131
done

[2021-09-15 09:50] charan-singh05 commented on #132
Issue fix verified.

[2021-09-15 09:50] #132 closed, assigned to charan-singh05

[2021-09-15 09:51] charan-singh05 commented on #131
Issue fix verified.

[2021-09-15 09:51] #131 closed, assigned to charan-singh05

[2021-09-15 09:52] charan-singh05 commented on #100
Issue fix verified.

[2021-09-15 09:52] #100 closed, assigned to charan-singh05

[2021-09-15 09:52] charan-singh05 commented on #120
Issue fix verified.

[2021-09-15 09:52] #120 closed, assigned to charan-singh05

[2021-09-15 10:23] #37 closed, assigned to rohit-metagauss

[2021-09-15 12:20] charan-singh05 opened #134 "Validation Fixes"
**Issue One**

1- Select "Always" for "Require This Field", on Conditional Properties for any control.
2- Go to Submit, or launch the form after publishing or make "New Entry" through "Entries" page.

Problem: Submit button will not be enabled till required field is filled in. What should happen is that Submit button is enabled but clicking on it shouldnt submit the form and show error message nex

[2021-09-15 12:33] charan-singh05 opened #135 "Add Workflow Page Changes"
I noticed that "Add Level" button doesn't work till the time we add at least one user as owner. That brings me to the current system, where we have Workflow creator added as owner by default. We should have it implemented same here.

[2021-09-16 05:48] charan-singh05 commented on #135
Issue fix verified.

[2021-09-16 05:48] #135 closed, assigned to charan-singh05

[2021-09-16 13:28] charan-singh05 commented on #134
Issue fix verified.

[2021-09-16 13:28] #134 closed, assigned to rohit-metagauss

[2021-09-16 13:44] mJawed opened #136 "Design Issues"
1. Fix the Email template

![image](https://user-images.githubusercontent.com/25656136/133624202-07021938-cf90-4bcb-966f-55ee1461b2d5.png)

2. Update Fav icon

![image](https://user-images.githubusercontent.com/25656136/133624867-972473fa-f5b6-40be-8db8-3686df8be037.png)

3. Footer should stay at the bottom

![image](https://user-images.githubusercontent.com/25656136/133625143-17fe0288-af71-49fe-b

[2021-09-16 14:01] Bhagyashrimane opened #137 "Workflow related issue."
1. Registration- While doing new registration and changed the plan then recaptcha disappears.
Without recaptcha also able to sign up.
![image](https://user-images.githubusercontent.com/77260614/133625748-8df7bf6c-e54f-4f51-bcbc-07fc61482c3a.png)

2.While registering new user and choose the plan then like $12 or $60 then account email activation mail got but when clicked on the link message shows l

[2021-09-16 15:35] Bhagyashrimane opened #138 "When adding new organization and choosing a plan then that plan details not showing in the organization subscription.[Manage-workflow]"
1.Go to organization.
2. Create new organization.
3. choose any plan and complete the billing part.
4. then click on edit option of that newly created organization.
Actual result- When created new organization and chosen plan to purchase that plan not showing in the subscription of the organization. But when change the plan second time and purchase it then it shows the in the subscription list lik

[2021-09-17 10:39] mJawed commented on #136
2, 4, 6, 7, 8, 13, are resolved.

[2021-09-17 10:42] charan-singh05 commented on #137
Issue fixes verified.

[2021-09-17 10:42] #137 closed, assigned to charan-singh05

[2021-09-17 10:51] Bhagyashrimane opened #139 "Update Activation Message Text for Invited Non-Blazeforms User."
For the activation screen that displays for the new users (not having previous Blazeforms account) invited to organisation, update the text to:
_"Your account has been successfully activated. Click on the login button to start building the forms, the way you want it."_